<div style="background: #F5F7FA;">
  <table style="width: 480px; height: 680px; margin: auto;">
  <tbody>
  <tr>
  <td style="width: 130px;"> logo <br /><br /></td>
  </tr>
  <tr>
  <td style="background: #FFFFFF; border-radius: 14px; width: 480px; height: 477px; padding: 30px;">
  <div style="font-family: STHeitiTC-Medium; font-size: 36px; color: #191b32; text-align: center;">Example</div>
  <br />
  <div style="font-family: PingFangTC-Regular; font-size: 20px; color: #191b32; line-height: 40px;">Please enter the verification code below to complete the registration.</div>
  <br /><br />
  <span style="font-family: PingFangTC-Regular; font-size: 20px; color: #375ab5; line-height: 40px;"> <%= verification %> </span>
  <br /><br />
  <div style="font-family: PingFangTC-Regular; font-size: 20px; color: #191b32; line-height: 40px;">Thank you.</div>
  <br /><br />
  <div style="font-family: PingFangTC-Regular; font-size: 20px; color: #191b32; line-height: 40px;">Koa2-builder</div>
  </td>
  </tr>
  <tr>
  <td style="width: 130px; padding: 25px;">
  <div style="font-family: PingFangTC-Regular; font-size: 16px; color: #191b32; line-height: 22px;">You can modify the content to your own content.</div>
  <br />
  <div style="font-family: PingFangTC-Regular; font-size: 16px; color: #191b32;">&copy; 2019 Koa2-Builder</div>
  </td>
  </tr>
  </tbody>
  </table>
</div>